In [ ]:
#tool for checking the URLs of Members' web and social media addresses
#this tool takes an input of all Members' web and social media addresses, extracted from MNIS API, and checks whether
#they provide a 200 OK response/403, or produce an error code. 
#NOTE: Most Labour websites will produce a 403 error code, as they have been set up to block access to automated scripts. 
#We are looking primarily for 400 or 500 error codes which means either the site no longer exists, or is suffering a fault.

In [29]:
import requests
import pandas

In [31]:
df = pandas.read_excel('2022 08 Member web addresses for link checker script.xlsx')

In [33]:
values = df['Address1'].values

In [41]:
responses = []
for i in values:
    try:
        r = requests.get(i)
    except Exception as e:
        r = e
    responses.append(r)

In [42]:
df["Response"] = responses

In [43]:
df

,Member_Id,Address1,AddressType.IsPhysicalAddress,Member.NameListAs,Member.House,Member.EndDate,Response
0,8,http://www.tmay.co.uk,False,"May, Mrs Theresa",Commons,NaN,<Response [200]>
1,8,https://twitter.com/theresa_may,False,"May, Mrs Theresa",Commons,NaN,<Response [200]>
2,14,http://www.johnredwoodsdiary.com,False,"Redwood, John",Commons,NaN,<Response [200]>
3,14,https://twitter.com/johnredwood,False,"Redwood, John",Commons,NaN,<Response [200]>
4,36,http://www.eleanorlaing.com,False,"Laing, Dame Eleanor",Commons,NaN,<Response [200]>
...,...,...,...,...,...,...,...
1188,4938,https://www.facebook.com/PauletteHamiltonMP,False,"Hamilton, Mrs Paulette",Commons,NaN,<Response [200]>
1189,4938,https://paulettehamilton.org/,False,"Hamilton, Mrs Paulette",Commons,NaN,<Response [403]>
1190,4943,www.simonlightwood.org.uk,False,"Lightwood, Simon",Commons,NaN,Invalid URL 'www.simonlightwood.org.uk': No sc...
1191,4943,https://www.facebook.com/simonlightwoodforwake...,False,"Lightwood, Simon",Commons,NaN,<Response [404]>
1192,4943,https://twitter.com/simonlightwood,False,"Lightwood, Simon",Commons,NaN,<Response [200]>

In [44]:
df.to_csv("2022 08 Members web addresses with status.csv")